<mat-toolbar style="background-color: orange" color="primary" class="toolbar">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon> <!-- كان عندك خطأ في كلمة menu (menue) -->
  </button>
  <span class="spacer"></span>
  <button mat-button routerLink="/admin/home">Home</button>
  <button mat-button routerLink="/admin/profile">Profile</button>
  <button *ngIf="authServices.roles.includes('ADMIN')" mat-button [matMenuTriggerFor]="importMenu" >
    Import <mat-icon iconPositionEndn>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #importMenu="matMenu">
    <button mat-menu-item routerLink="/admin/loadStudents">Load Student</button>
    <button mat-menu-item routerLink="/admin/loadPayments">Load Payment</button>
  </mat-menu>
  <button mat-button *ngIf="authServices.authenticated==true">
    {{authServices.username}}
  </button>
  <button mat-raised-button color="accent" (click)="logout()">Logout</button>
</mat-toolbar>

<mat-drawer-container class="drawer-container">
  <mat-drawer style="background-color: rgba(165,218,243,0.76)" #drawer mode="side" position="start" opened="true" class="drawer">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button routerLink="/admin/dashboard">
          <mat-icon>dashboard</mat-icon> Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/admin/students">
          <mat-icon>dashboard</mat-icon> Students
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/admin/payments">
          <mat-icon>dashboard</mat-icon> Payments
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content class="drawer-content">
    <div style="min-height: 600px;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
